<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/oauth/oauth_server/css/otv.css" />
</head>
<body>
<div id='main'>
<?php
if(isset($msg)) {
	echo $msg;
} else {
?>
<h1>Open Panos - Authorise access to your account</h1>
<p>The application '<?=$_SESSION['oauth_data']['app_name']?>' would like to
access your account. Select which, if any, privileges you wish to grant it.
</p>
<form method="post" action="<?=$router->pathFor('processAuthorise'); ?>">
<?php
foreach($allScopes as $scope) {
	echo "<input type='checkbox' name='scopes[]' value='$scope[scope_id]' />$scope[description]<br />";
}
?>
<input type="submit" name="authorise" value="Authorise" />
<input type="submit" name="authorise" value="Do not authorise" />
</form>
<?php
}
?>
</div>
</body>
</html>
