<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/oauth/oauth_server/css/otv.css" />
</head>
<body>
<div id='main'>
<h1>Open Panos - Login</h1>
<?php
if(isset($msg)) {
	echo $msg;
} else {
?>
<form method="post" action="<?php echo $router->pathFor('processLogin'); ?>">
Username:<br />
<input type="text" name="username" /><br />
Password:<br />
<input name="password" type="password" /><br />
<input type="submit" value="Go!" />
</form>
<?php
}
?>
</div>
</body>
</html>
